.custom-page-class{
  /* 自定义的样式 */
}

// markdown blockquote
blockquote
  font-size 1rem
  color #2c3e50;
  border-left .5rem solid #42b983
  background-color #f3f5f7
  margin 1rem 0
  padding 1rem 0 1rem 1rem

  & > p
    margin 0

// markdown h2
h2
  font-size 1.65rem
  padding-bottom 1rem
  border-bottom 1px solid $borderColor

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
  width 8px
  height 8px
  border-radius 10px
  background-color #f5f5f5
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
  border-radius 10px
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
  background-color #f5f5f5
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
  border-radius 10px
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,.3)
  border-radius 10px
  background-image -webkit-gradient(linear,
  left bottom, left top,
  color-stop(0.44, rgb(60,186,146)),
  color-stop(0.72, rgb(253,187,45)),
  color-stop(0.86, rgb(253,187,45)))
  transition 0.3s ease-in-out
  &:hover
    background-image -webkit-gradient(linear,
    left bottom, left top,
    color-stop(0.44, rgb(253,187,45)),
    olor-stop(0.72, rgb(253,187,45)),
    color-stop(0.86, rgb(60,186,146)))
    transition 0.3s ease-in-out
/*定义滑块悬浮样式*/
